<div class="login-wrap body" style="margin-top: 80px">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng nhập</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Đăng kí</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <form>
          <div class="group" style="margin-top: 35px">
            <label for="user1" class="label" style="color: #ffffff; font-weight: bold">Tên đăng nhập</label>
            <input id="user1" type="text" class="input" style="color: black">
          </div>
          <div class="group" style="margin-top: 35px">
            <label for="pass1" class="label" style="color: #ffffff; font-weight: bold">Mật khẩu</label>
            <input id="pass1" type="password" class="input" data-type="password" style="color: black">
          </div>
          <div class="group" style="margin-top: 35px">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Remember me</label>
          </div>
          <div class="group" style="margin-top: 35px">
            <input type="submit" class="button" value="Đăng nhập">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#" style="color: #e9e9e9">Quên mật khẩu?</a>
          </div>
        </form>
      </div>
      <div class="sign-up-htm">
        <form>
          <div class="group" style="margin-top: 30px">
            <label for="user2" class="label" style="color: #ffffff; font-weight: bold">Tên đăng nhập</label>
            <input id="user2" type="text" class="input" style="color: black">
          </div>
          <div class="group" style="margin-top: 30px">
            <label for="pass2" class="label" style="color: #ffffff; font-weight: bold">Mật khẩu</label>
            <input id="pass2" type="password" class="input" data-type="password" style="color: black">
          </div>
          <div class="group" style="margin-top: 30px">
            <label for="pass3" class="label" style="color: #ffffff; font-weight: bold">Nhập lại mật khẩu</label>
            <input id="pass3" type="password" class="input" data-type="password" style="color: black">
          </div>
          <div class="group" style="margin-top: 30px">
            <label for="pass4" class="label" style="color: #ffffff; font-weight: bold">Email</label>
            <input id="pass4" type="text" class="input" style="color: black">
          </div>
          <div class="group" style="margin-top: 50px">
            <input type="submit" class="button" value="Đăng kí">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a style="color: #e9e9e9">Sẵn sàng đăng kí là thành viên?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
