<!--Container danh sách-->
<div class="container">
  <!--Sản phẩm hot-->
  <div class="container mt-5 mb-5">
    <div class="text-center">
      <h1 style="width: 100%;background: #7f7f7f"><p
        style="background-color: #f4f7f6;width: 30%;line-height: 5px;padding: 15px 5px 13px 5px;margin: auto;color: black; font-size: 25px">
        SẢN PHẨM NỔI BẬT
      </p></h1>
    </div>
  </div>

  <!--Các ưu đãi free ship-->
  <div class="row" style="margin: 0 0 0 50px">
    <div class="container">
      <div class="row benefit_row">
        <div class="col-lg-3 benefit_col lazy">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><img src="https://img.icons8.com/wired/64/null/free-shipping.png"/>
            </div>
            <div class="benefit_content">
              <h6>Miễn phí vần chuyển</h6>
              <p>Suffered Alteration in Some Form</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><img
              src="https://img.icons8.com/pastel-glyph/64/null/card-in-use--v3.png"/></div>
            <div class="benefit_content">
              <h6>Thanh toán linh hoạt</h6>
              <p>The Internet Tend To Repeat</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><img
              src="https://img.icons8.com/external-nawicon-detailed-outline-nawicon/64/null/external-return-delivery-nawicon-detailed-outline-nawicon.png"/>
            </div>
            <div class="benefit_content">
              <h6>Đổi trả trong 45 ngày</h6>
              <p>Making it Look Like Readable</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><img src="https://img.icons8.com/ios/50/null/last-24-hours.png"/></div>
            <div class="benefit_content">
              <h6>Mở cửa hàng tuần</h6>
              <p>8AM - 09PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Danh sách-->
  <div class="container" style="margin-top: 75px">
    <div class="row clearfix">
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card product_item">
          <div class="body">
            <div class="cp_img">
              <img src="../../../../assets/image/watch-ban.jpg" alt="Product" class="img-fluid"/>
              <div class="hover">
                <a routerLink="/detail" class="btn btn-primary btn-sm waves-effect">Chi tiết</a>
                <a routerLink="/card" class="btn btn-warning btn-sm waves-effect" style="margin-left: 10px">Giỏ hàng</a>
              </div>
            </div>
            <div class="product_details">
              <h5><a routerLink="/detail">Simple Black Clock</a></h5>
              <ul class="product_price list-unstyled">
                <li class="new_price">1.400.000 VNĐ</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Ảnh quảng cáo dưới-->
<div style="margin: 100px 0 0 0">
  <img src="https://i.imgur.com/huqD7DV.png" width="100%"/>
</div>

<!-- Best Sellers -->
<div class="best_sellers">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Các thương hiệu nổi tiếng</h2>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:70px">
      <div class="container">
        <div class="row benefit_row">
          <div class="col-lg-2 benefit_col">
            <img src="../../../../assets/image/rolex-main-removebg-preview.png" width="100%" height="110px"/></div>
          <div class="col-lg-2 benefit_col">
            <img src="../../../../assets/image/IWC_logo-removebg-preview.png" width="100%" height="110px"/></div>
          <div class="col-lg-2 benefit_col">
            <img src="../../../../assets/image/patek-lai-logo.png" width="100%" height="110px"/></div>
          <div class="col-lg-2 benefit_col">
            <img src="../../../../assets/image/login-main-logo-removebg-preview.png" width="100%" height="110px"/></div>
          <div class="col-lg-2 benefit_col">
            <img src="../../../../assets/image/breguet-logo-removebg-preview.png" width="100%" height="110px"/></div>
          <div class="col-lg-2 benefit_col">
            <img src="../../../../assets/image/chronoswiss-logo-removebg-preview.png" width="100%" height="110px"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


