<div class="super_container">
  <div class="container single_product_container">
    <div class="row">
      <div class="col-lg-7">
        <div class="single_product_pics">
          <div class="row">
            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
              <div class="single_product_thumbnails">
                <ul>
                  <li><img src="../../../../assets/image/IWC_logo-removebg-preview.png" width="100%"/></li>
                  <li class="active"><img src="../../../../assets/image/IWC_logo-removebg-preview.png" width="100%"/></li>
                  <li><img src="../../../../assets/image/IWC_logo-removebg-preview.png" width="100%"/></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 image_col order-lg-2 order-1">
              <div class="single_product_image">
                <div class="single_product_image_background">
                  <img src="../../../../assets/image/IWC_logo-removebg-preview.png" width="100%"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="product_details">
          <div class="product_details_title">
            <h2>Đồng hồ Rolex nam</h2>
            <p>Đồng hồ rolex được chế tác từ các nguyên liệu tốt nhất và lắp ráp tỉ mỉ đến từng chi tiết. Mỗi chi tiết được thiết kế, phát triển, và sản xuất với tiêu chuẩn chính xác nhất.</p>
          </div>
          <div class="original_price">1.405.000₫</div>
          <div class="product_price">1.002.800₫</div>
          <ul class="star_rating">
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star" aria-hidden="true"></i></li>
            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
          </ul>
          <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
            <span style="font-weight: bold; margin-right: 10px">Thương hiệu:</span>
            <span>Rolex</span>
          </div>
          <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
            <span style="font-weight: bold; margin-right: 10px">Loại dây:</span>
            <span>da</span>
          </div>
          <div class="product_color">
            <span style="font-weight: bold; margin-right: 10px">Loại mặt:</span>
            <span>kính</span>
          </div>
          <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
            <span style="font-weight: bold; margin-right: 10px">Thương hiệu:</span>
            <span>Tây Ban Nha</span>
          </div>
          <div style="margin-top: 40px; text-align: center">
            <button style="display: inline-block; text-align: center; width: 290px; height: 50px; margin-left: -10px" class="btn btn-primary">Đặt hàng ngay</button>
            <button style="display: inline-block; text-align: center ; width: 140px; height: 50px;margin-left: 5px" class="btn btn-danger">Giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

